<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
<div class="panels">
    <br>
    <h1>Welcome to our Guild for Digital-Nomads</h1>
    <hr>
    <br>
    <h3>This is a forum for the people in Digital world, where we can blog about our life experiences and adventures outside of the office.</h3>
    <br>
    <h3>Either by the sea, mountains or city, feel free to share your presonal or best practices outdoors. Let other Devs in the cummunity know what lies beyond the neverending horizon of lines of code.</h3>
    <br>
    <h3>Who knows... you might meet a fellow dev along the way.</h3>
    <br>
    <p>ADD AN IMAGE HERE?</p>
    <h3>All aboard!</h3>
</div>
{% endblock %}