<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
    <h1>Digital Nomads</h1>
    <br>
    <h2>Welcome to a Guild for Digital-Nomads</h2>
    <br>
    <h2>This is a forum for the people in Digital world, where we can blog about our life experiences and adventures outside of the office.</h2>
    <br>
    <h2>Either by the sea, mountains or city, feel free to share your presonal or best practices outdoors. Let other Devs in the cummunity know what lies beyond the neverending horizon of lines of code.
    <br>
        <h2>Who knows... you might meet a fellow dev along the way.</h2>
    <br>
    <h2>All aboard!</h2>
{% endblock %}