<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
<br>
<!-- Renders about page -->
<div class="panels">
    <h1>Welcome to our Guild for Digital-Nomads</h1>
    <hr>
    <h3>A forum for people in the Digital world, where one can blog about life experiences, adventures outside the office and hotspots of recommendation for other Devs.</h3>
    <br>
    <!-- Renders the about image-->
    <div class="picabout"></div>
    <br>
    <h3>Either by the sea, mountain or city, feel free to share your presonal or best practices outdoors. Let other Devs in the community know what lies beyond the neverending lines of code.</h3>
    <br>
    <h3>Don't have an account yet, <a href="{% url 'register' %}">Registration</a> is free. Otherwise <a href="{% url 'login' %}">sign in</a>!</h3>
    <br>
    <h3>All aboard!</h3>
</div>
{% endblock %}