{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Displays the favicon -->
    <link rel="icon" href="https://res.cloudinary.com/dmbdqco85/image/upload/v1684873455/media/profile_img/favicon_peylh8.png" type="image/x-icon">
    
    <!-- Display the title of the page accordingly -->
    {% if title %}
        <title>Digital Nomads - {{ title }}</title>
    {% else %}
        <title>Digital Nomads</title>
    {% endif %}
</head>
<body>
    <div class="picheader">
      <h1 class="centered">Digital N<box-icon class="cog" name='cog' animation='spin' color='rgba(255, 0, 0, 0.37)' size="2rem"></box-icon>mads</h1>
    </div>
    <header class="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 logo" href="{% url 'blog-home' %}">Digital N<box-icon name='cog' animation='spin' color='#ffffff' size="1rem"></box-icon>mads</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}"><i class="fa-solid fa-signs-post"></i> Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}"><i class="fa-solid fa-circle-info"></i> About</a>
            </div>
          
            <div class="navbar-nav">
              <!--- If the User is logged in, display Logout in the nav-->
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}"><i class="fa-solid fa-file-import"></i> Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-gear"></i> Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-power-off"></i> Logout</a>
                <!-- Move the search bar here -->
                <form class="d-flex" method="POST" action="{% url 'blog-search' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searches" style="margin-right: 5px;">
                  <button class="btn btn-outline-secondary search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}"><i class="fa-regular fa-address-card"></i> Register</a>
                <!-- Move the search bar here -->
                <form class="d-flex" method="POST" action="{% url 'blog-search' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searches" style="margin-right: 5px;">
                  <button class="btn btn-outline-secondary search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Display the alert.info message from  -->
          {% if messages %}
            {% for messages in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          {% block content %}
          {% endblock %}
        </div>
    </main>
    <!-- IMG footer delete?-->
      <div class="picfooter"></div>
      
      <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Coding never felt so good!</h5>
              <p>
                "There's nothing better than a permanent vacation."
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Follow us:</h5>
              <p>
                <a class="facebook" href="https://www.facebook.com/" aria-label="Link to Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a class="instagram" href="https://www.instagram.com/" aria-label="Link to Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="youtube" href="https://www.youtube.com/" aria-label="Link Youtube" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a class="twitter" href="https://www.twitter.com/" aria-label="Link to Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </p>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright • 
          <a class="text-dark" href="#">Digital Nomads</a>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Optional JavaScript -->
    <script src="https://kit.fontawesome.com/9a3068bd82.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>