<!-- Extends from base.html -->
{% extends "blog/base.html" %}

{% block content %}
  <br>
  <!-- If the User is authenticated, display the username -->
  {% if user.is_authenticated %}
    <h2>Welcome back, {{ user.username }}!</h2>
    <p>The latest posts are as follows:</p>
  <!-- Otherwise, display the generic message and show the modal -->
  {% else %}
    <h2>Greetings stranger, welcome to our community!</h2>
    <p>The latest posts are as follows:</p>

    <!-- Modal HTML -->
    <div id="home-modal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: #333333; color: #dddddd; padding: 10px 20px; border: 1px dashed #dddddd; border-radius: 3px; margin-bottom: 10px;">
          <div class="modal-header">
            <h5 class="modal-title bio-title mx-auto">Mission statement</h5>
          </div>
          <div class="modal-body text-center">
            <p>Ever wanted to share your nomadic lifestyle with others, meet like-minded people, reveal your hacks and find solutions for your problems?</p>
            <p>Digital Nomads is a platform where you can disclose your ideas.</p>
            <p><a class="modal-button {% if request.path == '/register/' %}active{% endif %}" href="{% url 'register' %}">Join</a> our community!</p>
            <p>No desks, no cubicles, no offices...</p>
          </div>
          <div class="modal-footer">
            <button class="modal-close btn btn-secondary mx-auto" type="button" data-dismiss="modal">Dont show this again!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery and Bootstrap JavaScript Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {
        var modalShown = sessionStorage.getItem('modalShown');
        if (!modalShown) {
          $('#home-modal').modal('show');
    
          // Event Listener to close the Modal
          $('#home-modal .modal-footer button').on('click', function() {
            $('#home-modal').modal('hide');
            sessionStorage.setItem('modalShown', true);
          });
        }
      });
    </script>    
  {% endif %}

  <!-- If there are posts on the board -->
  {% if posts %}
    <!-- Display the posts -->
    {% for post in posts %}
      <article class="media panels">
        <img class="rounded imgposter" src="{{ post.author.profile.image.url }}" alt="Profile Image">
        <div class="media-body">
          <div class="post-panel">
            <!-- Posts the Authors name of the Post -->
            <a href="{% url 'post-user' post.author.username %}">{{ post.author }}</a>
            <!-- Posts the Date of the Post -->
            <small class="text-muted">• {{ post.date_posted|date:"N d, Y" }}</small>
          </div>
          <!-- Posts the Title of the Post -->
          <h2><a class="title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <!-- Posts the content of the Post -->
          <p class="post-content">{{ post.content|truncatewords_html:50|safe }}</p>
        </div>
      </article>
    {% endfor %}
    <!-- Pagination, if there are more than 6 posts activate pagination -->
    {% if is_paginated %}
      <!-- ... your existing pagination HTML ... -->
    {% endif %}
  <!-- Otherwise, if there are no posts, display this message -->
  {% else %}
    <div class="panels">
      <h2 class="text-center">This Forum is currently empty! Be the first one to post!<br><a class="nav-item nav-link" href="{% url 'post-create' %}" aria-label="Post"><i class="docplus fa-solid fa-file-circle-plus"></i></a></h2>
    </div>
  {% endif %}
  <br>
{% endblock %}
