<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<!-- Renders post comment page -->
    <div class="panels">
        <!-- Form to Comment -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- Loads Crispy Forms -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary panels" type="submit">Submit Comment</button>
            </div>
        </form>
    </div>
{% endblock %}