<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
    <br>
    <article class="media panels">
        <img class="rounded imgposter" src="{{ object.author.profile.image.url }}" alt="Users Profile image">
        <div class="media-body">
            <div class="post-panel">
                    <!-- Posts the Users Name of the Post -->
                    <a href="{% url 'post-user' object.author.username %}">{{ object.author }}</a>
                    <!-- Posts the Date of the Post -->
                    <small class="text-muted"> • {{ object.date_posted|date:"N d, Y" }}</small>
            </div>
            <div>
                <!-- Posts the Title of the Post -->
                <h2 class="title">{{ object.title }}</h2>
                <!-- Posts the content of the Post -->
                <p class="post-content">{{ object.content|safe }}</p>
            </div>
        </div>
    </article>
    <section>
        <div class="container panels">
            <div class="row">
                {% if object.author == user %}
                    <pre> </pre>
                    <a class="btn btn-outline-warning panels" href="{% url 'post-update' object.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <pre> </pre>
                    <a class="btn btn-outline-info panels" href="{% url 'post-delete' object.id %}"><i class="fa-solid fa-trash"></i></a>
                    <pre> </pre>
                {% endif %}
                <!-- Like Button -->
                    <pre></pre>
                <form action="{% url 'like-post' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                        <button class="btn btn-outline-danger panels" type="submit" name="post_id" value="{{ post.id }}"><i class="fa-solid fa-heart"></i></button>
                        {% else %}
                        <button class="btn btn-outline-danger panels" type="submit" name="post_id" value="{{ post.id }}"><i class="fa-regular fa-heart"></i></button>
                        {% endif %}
                    {% else %}
                        <small class="text-muted">You must <a href="{% url 'login' %}">sign in</a>, in order to Comment or Like this article!</small>
                    {% endif %}
                        - {{ total_likes }} found this post interesting!
                </form>
            </div>
        </div>
        <br>
    </section>
    <!-- Coment Section -->
    <section class="panels">
        <h4>Comments:</h4>
        {% if not post.comments.all %}
            <em>No Comments...</em>
            <br>
            {% if user.is_authenticated %}
                <a href="{% url 'post-comment' post.pk %}">Add a Comment</a>
            {% endif %}
        {% else %}
            {% if user.is_authenticated %}
                <a href="{% url 'post-comment' post.pk %}">Add a Comment</a>
            {% endif %}
                {% for comment in post.comments.all %}
                <hr>
                {{ comment.body}}
                <br>
                <br>
                <small>
                    <em><img class="rounded-circle imgcommenter" src="{{ comment.author.profile.image.url }}" alt="Users Profile image"> • <a href="{% url 'post-user' comment.author.username %}">{{ comment.author.username }}</a> • {{ comment.date_commented}}</em>
                </small>
            {% endfor %}
        {% endif %}
    </section>
    <br>
    <br>

{% endblock %}