<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<!-- Renders post confirmation delete -->
    <div class="panels">
        <!-- Form to Post/Register a User -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>You are about to delete the post entitled:</h2>
                <h2 class="panels">'{{ object.title }}'</h2>
                <h2>Do you wish to proceed?</h2>
                <!-- Loads Crispy Forms -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger panels" type="submit">Confirm</button>
                <a class="btn btn-outline-secondary panels" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}