<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded img-frame" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
        <div class="row no-gutters article-metadata">
            <div class="col-12 col-sm-6 col-md-8">
            <!-- Posts the Users Name of the Post -->
            <a class="mr-4" href="{% url 'post-user' object.author.username %}">{{ object.author }}</a>
            <!-- Posts the Date of the Post -->
            <small class="text-muted">{{ object.date_posted|date:"N d, Y" }}</small>
            {% if object.author == user %}
            </div>
            <div class="col-8 col-md-4">
                <a class="btn btn-outline-warning" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <!-- Posts the Title of the Post -->
        <h2 class="article-title">{{ object.title }}</h2>
        <!-- Posts the content of the Post -->
        <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
{% endblock %}