<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% block content %}
  {% if searches %}
    <h1><i class="fa-solid fa-magnifying-glass"></i> Below are the results for "{{ searches }}"</h1>
    {% for result in results %}
      <h2 class="panels"><a class="title" href="{% url 'post-detail' pk=result.pk %}">• {{ result.title }}</a></h2>
    {% endfor %}
    {% if results|length == 0 %}
      <h2 class="panels"><i class="fa-sharp fa-regular fa-circle-xmark"></i> No results found.</h2>
    {% endif %}
  {% else %}
    <h1><i class="fa-solid fa-magnifying-glass"></i> We couldn't find what you were looking for.</h1>
    <h2 class="panels"><i class="fa-solid fa-circle-info"></i> Make sure to enter a valid word!</h2>
  {% endif %}

{% endblock %}