<!-- Extends from base.html -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<!-- Renders password reset -->
    <div class="panels">
        <!-- Form to Post/Login a User -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h1>Reset Password</h1>
                    <p>You are about to reset your password. Input your E-mail below:</p>
                </legend>
                <!-- Loads Crispy Forms -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary panels" type="submit">Reset my Password</button>
            </div>
        </form>
    </div>
{% endblock %}