{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<!-- Renders register page -->
<div class="panels">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- Form to Post/Register a User -->
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <h2>Register!</h2>
            </legend>
            <!-- Loads Crispy Forms -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-secondary panels" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted"><a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
    </div>
</div>
{% endblock %}
